html, body {
  font: 13px arial, sans-serif;
  color: #222222;
}

/* Navbar & footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #f2f2f2;
  width: 100%;
  border-top: 0.5px solid #d6cece;
}

.navbar ul, .footer ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0 13px;
  margin: 0;
}

.navbar ul li, .footer ul li {
  float: left;
}

.navbar ul li a, .footer ul li a {
  display: block;
  text-align: center;
  padding: 14px 13px;
  text-decoration: none;
}

.navbar ul li a {
  color: rgba(0, 0, 0, 0.87);
}

.footer ul li a {
  color: rgba(0, 0, 0, 0.60);
  font-weight: 600;
}

.navbar ul li a:hover, .footer ul li a:hover {
  opacity: .85;
  text-decoration: underline;
}

.rfloat {
  float: right !important;
}

.navicon {
  padding-top: 8px !important;
}

/* Content */
.content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.search, .search-buttons, .logo {
  margin-top: 20px;
  text-align: center;
}

.search-input {
  border: none;
  height: 35px;
  width: 500px;
  box-shadow: 0 1px 5px #d3d3d4;
  text-align: center;
  outline: none;
  font-size: 16px;
  line-height: 35px;
}

.search-input:hover, .search-input:focus {
  box-shadow: 0 1px 5px #b6b6b9;
}

.search-buttons button {
  background: #00000012;
  color: #736c73;
  border: none;
  font-weight: 600;
  height: 33px;
  padding: 0 15px;
  margin: 0 5px;
}

.search-buttons button:hover {
  border: 1px solid #c6c6c6;
  cursor: pointer;
  background: #e4e0e0cc;
  box-shadow: 0 0 5px #00000029;
}