body {
  background-image: url("../img/background.png");
}

.centered {
  text-align: center;
}

#personalInformation, #biographySection, #educationSection,
#addressSection, #specializationSection {
  display: none;  
}